.product-list {
    margin-top: 10px;
}

.product-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 14px;
}

.product-item input {
    margin-right: 10px;
}

.product-item .product-name {
    margin-right: auto;
}

.product-item .product-quantity {
    margin-left: 20px;
}

.product-item .product-price {
    margin-left: 20px;
}

.error-message {
    color: red;
    margin-top: 10px;
}
